.img-responive {
    display: block;
    max-width: 100%;
    height: auto;

}

.text-center {
    text-align: center;
}

.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
}

#bg-image {
        background: linear-gradient(to bottom, rgba(87, 88, 90, 0.575), rgba(87,88,90, 0.575)), url(./images/Header.jpg);
        background-image: linear-gradient(rgba(87, 88, 90, 0.575), rgba(87, 88, 90, 0.575)), url(./images/Header.jpg);
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        background-attachment: scroll;
}
