body {
    background: url('embossed-diamond.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  h1 {
      text-align: center;
  }
