#margin-break {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

#margin-custom {
    margin-top: 8rem;
    margin-bottom: 1.5rem;
}

#dog-img {
    opacity: 1;
    /* display: block;
    width: 100%;
    height: auto; */
    transition: .5s ease;
    backface-visibility: hidden;

}

#middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

#text {
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }

#margin-custom:hover #dog-img {
    opacity: 0.3;
  }

#margin-custom:hover #middle {
    opacity: 1;
  }

  #non-margin:hover #dog-img {
    opacity: 0.3;
  }

  #non-margin:hover #middle {
    opacity: 1;
  }

  .masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
}

.bg-image-ap {
        background: linear-gradient(to bottom, rgba(87, 88, 90, 0.575), rgba(87,88,90, 0.575)), url(images/PuppyHeader.jpg);
        background-image: linear-gradient(rgba(87, 88, 90, 0.575), rgba(87, 88, 90, 0.575)), url(images/PuppyHeader.jpg);
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        background-attachment: scroll;
}