#margin-break {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

#margin-custom {
    margin-top: 8rem;
    margin-bottom: 1.5rem;
}

#dog-img {
    opacity: 1;
    /* display: block;
    width: 100%;
    height: auto; */
    transition: .5s ease;
    backface-visibility: hidden;

}

#middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

#text {
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }

#margin-custom:hover #dog-img {
    opacity: 0.3;
  }

#margin-custom:hover #middle {
    opacity: 1;
  }

  #non-margin:hover #dog-img {
    opacity: 0.3;
  }

  #non-margin:hover #middle {
    opacity: 1;
  }