/* body {
    background: url('bush.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  } */

  .title {
      margin-left: 375px;
  }

  @media only screen and (max-width: 600px) {
    .title {
        text-align: center;
        margin-left: 0px;
    }
}
    @media only screen and (max-width: 600px) {
        .img {
           float: right;
        }
    }