.font-style-1 {
    font-family: 'Architects Daughter', cursive;
}

.font-style-1 {
    font-family: 'Montserrat', sans-serif;
}

.section-align {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}

.img-style {
    margin-top: 75px;
    margin-bottom: 75px;
    position: relative;
    width: 100%;
}

#dog-illustration {
    height: 200px;
    width: 200px;
}