.custom-style {
    margin-top: 100px;
    margin-bottom: 100px;
}

.container-style {
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: orchid;
    color: white;
    margin-left: 150px;
    width: 40%;
    height: 40%;
    position: absolute;
    margin-top: 8rem;
}

.flex {
    flex: 0 0 8.333333%
}

