.custom-style {
    margin-top: 100px;
    margin-bottom: 100px;
}


.custom-color {
    color: white;
}

.font-size {
    font-size: 2.5rem;
}

@media screen and (max-width: 600px) {
    .font-size {
        font-size: 1.5rem
    }
}