.font-style-1 {
    font-family: 'Architects Daughter', cursive;
}

.font-style-1 {
    font-family: 'Montserrat', sans-serif;
}

.section-align {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 100px;
}